body{
    background-image: url("assets/background.jpg");
    margin: 180px;
}

h1{
    color: rgb(0, 23, 155);
}

p{
    color: rgb(0, 0, 0);
    background-color: brown;
    width: 200px;
}

input{
    background-color: rgb(169, 140, 255);
    width: 200px;
}

input::placeholder{
    color: rgb(0, 0, 0);
}

.button{
    width: 100px;
}

.error{
    font-size: 20px;
    color: rgb(0, 255, 21);
}